{% extends 'base.html' %}

{% block page %}
    <main class="container">
        <div class="row">
        <div class="col-md-8">    
            <br>
            <br>
            <h2 align='center'>{{ recipe_object.name }}</h2>
            <br>
            <h3 align='center'>{{ recipe_object.short_description }}</h3>
            <h2 align='center'><img src="{{ recipe_object.img.url }}" width="50%"></h2> 
            <br><hr><br>
            <div>{{ recipe_object.description }}</div>
            <br>
            {% if user.is_authenticated %}
            <hr>
            <a class="btn btn-lg btn-primary" href="{% url 'edit-recipe' recipe_object.id %}">Изменить</a>
            <a class="btn btn-lg btn-info" href="{% url 'delete-recipe' recipe_object.id %}">Удалить</a>
            {% endif %}
            <br>
        </div>
        </div><!-- /.row -->
    </main><!-- /.container -->

{% endblock %}