{% extends 'base.html' %}

{% block page %}
                  
    <main class="container">
      <div class="row">
        <div class="col-md-8"><br><br>
          {% for recipe in recipes %}
            <div>
              <a class='nav-link' style="color:rgb(19, 41, 41)" href="{% url 'recipe' recipe.id %}">
                <div class='alert alert-warning mt-2'>
                <h3>{{ recipe.name }}</h3>
                <p>{{ recipe.short_description }} 
                </div>
              </a>
            </div>
            
          {% endfor %}
          
        </div>
        <br><br>
          <aside class="col-md-4">
            <div align='center' class="p-4 mb-3 bg-light rounded">
              <h4 class="font-italic">Нет любви более искренней, чем любовь к еде!</h4>
              
            </div>
            
            <div class="p-4 mb-3 bg-light rounded">
            <div class="p-4">
                <h4 align='center' class="font-italic">О БЛОГЕ</h4>
                <ol class="list-unstyled mb-0">
                    <li><h6>Этот блог создан для всех кто любит готовить вкусную еду. Здесь вы найдете рецепты как от профессионалов, так и домохозяек, которые радуют своими рецептами.</h6></li>
                    <hr>
                    <li><h6>С помощью поиска Вы всегда сможете нужный рецепт, введите нужное слово и нажмите 'enter'. И все рецепты с этим словом будут на странице. Поиск можно ввести и по ингредиенту и по названию и по способу приготовления.</h6></li>
                    <hr>
                    <li><h6>На сайте можно не только смотреть рецепты, но и зарегистрировавшись самим добавлять их.</h6></li>
                </ol>
            </div>
            </div>
          </aside>
        
      </div><!-- /.row -->
    </main><!-- /.container -->
{% endblock %}