{% extends 'base.html' %}

{% block page %}
    <h2>{{ recipe_object.name }}</h2>
    <h3>{{ recipe_object.short_description }}</h3>
    {% if recipe_object.img %}
        <img src="{{ recipe_object.img.url }}" width="50%"> 
    {% endif %}
    <div>{{ recipe_object.description }}</div>
    <hr>
    <div>Просмотров: {{ recipe_object.views_count }}</div>
    <br>
    <a class="btn btn-lg btn-warning" href="{% url 'edit-recipe' recipe_object.id %}">Изменить</a>
    <a class="btn btn-lg btn-danger" href="{% url 'delete-recipe' recipe_object.id %}">Удалить</a>

    

{% endblock %}