{% extends 'base.html' %}

{% block page %}
    <main class="container">
      <div class="row">
        <div class="col-md-8"><br><br>
          <h3 class="pb-4 mb-4 font-italic border-bottom" align='center'>
            Пошаговые рецепты с фотографиями
          </h3>
          {% for recipe in recipes %}
            <div>
              <a class='nav-link' style="color:rgb(19, 41, 41)" href="{% url 'recipe' recipe.id %}">
                <div class='alert alert-info mt-2'>
                <h3>{{ recipe.name }}</h3>
                <p>{{ recipe.short_description }} 
                </div>
              </a>
            </div>
          {% endfor %}
          
        </div>
          <aside class="col-md-4">
            <div class="p-4 mb-3 bg-light rounded">
              <h4 class="font-italic">О блоге</h4>
              <p class="mb-0">Здесь вы найдете пошаговые рецепты с фотографиями на каждый день и на праздничный стол</p>
            </div>
   
            

            <div class="p-4 mb-3 bg-light rounded">
            <div class="p-4">
                <h4 class="font-italic">КАТЕГОРИИ</h4>
                <ol class="list-unstyled mb-0">
                    <li><h5><a style="color:darkslategrey" href="">Вторые блюда</a></h5></li>
                    <li><a style="color:darkslategrey" href="">>Блюда из субпродуктов</a>
                    <li><a style="color:darkslategrey" href="">>Запенки</a></li>
                    <li><a style="color:darkslategrey" href="">>Каши</a></li>
                    <li><a style="color:darkslategrey" href="">>Мясо</a></li>
                    <li><a style="color:darkslategrey" href="">>Овощи и грибы</a></li>
                    <li><a style="color:darkslategrey" href="">>Паста, блюда из макарон</a></li>
                    <li><a style="color:darkslategrey" href="">>Пельмени, вареники, манты</a></li>
                    <li><a style="color:darkslategrey" href="">>Птица</a></li>
                    <li><a style="color:darkslategrey" href="">>Рыба и морепродукты</a></li>
                    <li><a style="color:darkslategrey" href="">>Суши и роллы</a></li>
                    <li><h5><a style="color:darkslategrey" href="">Выпечка, блюда из теста</a></h5></li>
                    <li><a style="color:darkslategrey" href="">>Блины</a></li>
                    <li><a style="color:darkslategrey" href="">>Булочки, пышки, хлеб</a></li>      
                    <li><a style="color:darkslategrey" href="">>Кексы и маффины</a></li>
                    <li><a style="color:darkslategrey" href="">>Пироги</a></li>
                    <li><a style="color:darkslategrey" href="">>Пирожки</a></li>
                    <li><a style="color:darkslategrey" href="">>Пицца</a></li>
                    <li><a style="color:darkslategrey" href="">>Тесто</a></li>
                    <li><a style="color:darkslategrey" href="">>Чебуреки, беляши, сочни</a></li>
                    <li><a style="color:darkslategrey" href="">>Шарлотки</a></li>
                    <li><h5><a style="color:darkslategrey" href="">Десерты</a></h5></li>
                    <li><a style="color:darkslategrey" href="">>Конфеты</a></li>
                    <li><a style="color:darkslategrey" href="">>Печенье</a></li>
                    <li><a style="color:darkslategrey" href="">>Торты</a></li>
                    <li><a style="color:darkslategrey" href="">>Фруктовые десерты</a>
                    <li><h5><a style="color:darkslategrey" href="">Закуски</a></h5>
                    <li><a style="color:darkslategrey" href="">>Бутерброды</a></li>
                    <li><a style="color:darkslategrey" href="">>Закуски из мяса</a></li>
                    <li><a style="color:darkslategrey" href="">>Закуски из овощей и грибов</a></li>
                    <li><a style="color:darkslategrey" href="">>Закуски из рыбы и морепродуктов</a></li>
                    <li><a style="color:darkslategrey" href="">>Закуски из сыра</a></li>
                    <li><a style="color:darkslategrey" href="">>Закуски из яиц</a></li>
                    <li><a style="color:darkslategrey" href="">>Заливное</a></li>
                    <li><a style="color:darkslategrey" href="">>Паштеты</a></li>
                    <li><a style="color:darkslategrey" href="">>Рулеты</a></li>
                    <li><h5><a style="color:darkslategrey" href="">Консервирование</a></h5></li>
                    <li><a style="color:darkslategrey" href="">>Варенье</a></li>
                    <li><a style="color:darkslategrey" href="">>Консервированное мясо</a></li>
                    <li><a style="color:darkslategrey" href="">>Маринады</a></li>
                    <li><a style="color:darkslategrey" href="">>Овощные салаты</a></li>
                    <li><a style="color:darkslategrey" href="">>Соленья</a></li>
                    <li><h5><a style="color:darkslategrey" href="">Салаты</a></h5></li>
                    <li><a style="color:darkslategrey" href="">>Салаты из овощей, грибов, сыра</a></li>
                    <li><a style="color:darkslategrey" href="">>Салаты из рыбы и морепродуктов</a></li>
                    <li><a style="color:darkslategrey" href="">>Салаты с мясом</a></li>
                    <li><h5><a style="color:darkslategrey" href="">Соусы</a></h5></li>
                    <li><a style="color:darkslategrey" href="">>Майонезы</a></li>
                    <li><a style="color:darkslategrey" href="">>Соусы из муки</a></li>
                    <li><h5><a style="color:darkslategrey" href="">Супы</a></h5></li>
                    <li><a style="color:darkslategrey" href="">>Бульоны</a></li>
                    <li><a style="color:darkslategrey" href="">>Заправочные супы</a></li>
                    <li><a style="color:darkslategrey" href="">>Рыбные супы</a></li>
                    <li><a style="color:darkslategrey" href="">>Суп-пюре</a></li>
                    <li><a style="color:darkslategrey" href="">>Холодные супы</a></li>
                </ol>
            </div>
            </div>
          </aside>
        
      </div><!-- /.row -->
    </main><!-- /.container -->
{% endblock %}