{% extends "base.html" %}

{% block page %}
  <br>
  <br>
  <main class="container">
      <div class="row">
      <div class="col-md-8">
          <h1 align='center'>
              ВХОД
          </h1><br><br>
      </div>
      </div><!-- /.row -->
  </main><!-- /.container -->
  <div class='alert alert-secondary mt-2'>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <br>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <br>
    <input type="submit" value="ВОЙТИ" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <br>
  <a href="{% url 'register' %}">Зарегистрироваться</a>
{% endblock %}