{% extends "base.html" %}

{% block page %}
    <br>
    <main class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 align='center'>
            Полезные советы
          </h1><br>
        </div>
      </div><!-- /.row -->
    </main><!-- /.container -->
    {% for elem in advice_object %}
        <div class='alert alert-warning mt-2'>
            <a class='nav-link' style="color:teal" href=''>{{ elem.title }}</a>
            <p>{{elem.short_description }}</p>     
            
        </div>

    {% endfor %}
        
    
</main>  
{% endblock %}