{% extends "base.html" %}

{% block page %}
    <main class="container">
        <div class="row">
        <div class="col-md-8">
            <h1 align='center'>
                Новости
            </h1><br><hr><br>
        </div>
        </div><!-- /.row -->
    </main><!-- /.container -->
            
    {% for el in news_objects %}
        <div class='alert alert-warning mt-2'>
            <a class='nav-link' style="color:teal" href="">{{ el.title }}</a>
            <p>{{el.short_description }}</p>     
            
        </div>

    {% endfor %}
        
{% endblock %}
